@font-face {
  font-family: "fallout_overseer";
  src: url("./fonts/overseer-webfont.woff2") format("woff2"),
    url("./fonts/overseer-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #090909;
  color: #c9c9c9;
  font-family: "fallout_overseer", sans-serif;
  text-align: center;
  margin: 0;
}

.pipboy {
  width: 100vw;
  height: 100vh;
  background-image: url("./imgs/terminal4.jpg");
  background-size: cover;
  border: 5px solid #aaa;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes flicker {
  0% {
    color: #090909; /* Preto */
  }
  50% {
    color: #ffc100; /* Amarelo Fallout */
  }
  100% {
    color: #090909; /* Preto */
  }
}

.logo {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  animation: flicker 2s infinite;
}

.screen {
  flex: 1;
  width: 100%;
  background-color: #171717;
  border: 5px solid #aaa;
  border-radius: 5px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.button {
  background-color: #333;
  color: #c9c9c9;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

.itemList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.itemList li {
  background-color: #333;
  color: #c9c9c9;
  font-size: 26px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.itemList li:hover {
  background-color: #555;
}

.screen {
  /* Outros estilos da classe .screen */
  max-height: 500px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Adicione a rolagem vertical */
}

ul {
  list-style-type: none;
  padding: 0;
}

#resposta-knapsack {
  font-size: 30px;
}

li.active {
  background-color: green;
}

li.active:hover {
  background-color: darkred;
  outline: auto;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.filters {
  margin-left: 120vh;
}

label {
  font-size: 25px;
  color: white;
}

select {
  font-size: 25px;
  background-color: #333;
  border-color: #333;
  color: white;
  border-radius: 5px;
  font-family: "fallout_overseer", sans-serif;
}

.button#submit-button {
  position: relative;
  bottom: 5px;
}

a {
text-decoration: none;
}